---
import Cursortitle from '../components/Cursortitle.astro';
import Layout from '../layouts/Layout.astro'

---

<Layout title="Gibson's Gil Site">
	<main class="w-full h-full flex flex-col">
<div class="self-center mt-10">

	<Cursortitle />
</div>

	</main>
</Layout>
