---
import Cursortitle from '../components/Cursortitle.astro'
import Socialmedia from '../components/Socialmedia.astro'
import Profileimage from '../components/Profileimage.astro'
import Layout from '../layouts/Layout.astro'
import Skillsbutton from '../components/Skillsbutton.astro'
import Programminglanguages from '../components/Programminglanguages.astro'
import Logo from '../components/Logo.astro'
import Aboutme from '../components/Aboutme.astro'
import Programmingbanner from '../components/Programmingbanner.astro'
import Javascriptframeworks from '../components/Javascriptframeworks.astro'
import Otherframeworks from '../components/Otherframeworks.astro'
import DatabasesDT from '../components/DatabasesDT.astro'
---

<Layout title="Gibson's Gil Site">
	<main class="flex flex-col">
		<div class="ml-5 mt-1 w-[75%] self-center">
			<Cursortitle />
			<div class="mx-[14%]">
				<span
					class="font-sans text-base text-primary-400 xs:hidden sm:hidden md:hidden lg:inline-flex xl:inline-flex 1xl:inline-flex 2xl:inline-flex"
					>Gibson<br /> Gil &#123Dev&#125</span
				>
			</div>
		</div>
		<section
			id="home"
			class="mt-10 flex justify-center self-center xs:w-screen xs:flex-col sm:w-screen sm:flex-col md:w-screen md:flex-col lg:w-screen lg:flex-col xl:w-[75%] xl:flex-row 1xl:w-[75%] 1xl:flex-row 2xl:w-[75%] 2xl:flex-row"
		>
			<div
				class="h-[80%] w-[35%] items-center xs:hidden sm:hidden md:hidden lg:hidden xl:inline-flex 1xl:inline-flex 2xl:inline-flex"
			>
				<Socialmedia />
			</div>
			<div
				class="flex flex-col xs:w-screen sm:w-screen md:w-screen lg:w-screen xl:w-[65%] 1xl:w-[65%] 2xl:w-[65%]"
			>
				<div
					class="flex w-full self-center bg-primary-980 xs:relative xs:flex-col sm:relative sm:flex-col md:relative md:flex-col lg:static lg:flex-col xl:relative xl:flex-row-reverse 1xl:relative 1xl:flex-row-reverse 1xl:items-center 2xl:relative 2xl:flex-row-reverse 2xl:items-end"
				>
					<Profileimage />
					<Programminglanguages />
					<div
						class="-left-[80%] bottom-[-46%] h-[55%] w-[55%] xs:hidden sm:hidden md:hidden lg:hidden xl:absolute xl:inline-flex 1xl:absolute 1xl:inline-flex 2xl:absolute 2xl:inline-flex"
					>
						<Logo />
					</div>
				</div>

				<Skillsbutton
					title="skills"
					bgcolor="bg-primary-350"
					textcolor="text-primary-980"
					textsize="text-[80%]"
					svgcolor="#141a12"
				/>
			</div>
		</section>
		<div
			class="mt-10 w-[70%] self-center xs:inline-block sm:inline-block md:inline-block lg:inline-block xl:hidden 1xl:hidden 2xl:hidden"
		>
			<Logo />
		</div>
		<section
			id="about"
			class="self-center xs:mt-10 sm:mt-10 md:mt-10 lg:mt-48 xl:mt-48 1xl:mt-48 2xl:mt-48"
		>
			<Aboutme />
		</section>

		<section id="hardskills" class="mt-10 w-screen self-center">
			<Programmingbanner />
			<Javascriptframeworks />
			<Otherframeworks />
			<DatabasesDT />
			<Skillsbutton
				title="work"
				bgcolor="bg-primary-980 min-h-[5rem]"
				textcolor="text-primary-400"
				svgcolor="#BFE6AD"
			/>
		</section>
	</main>
</Layout>
