---
interface Props {
    content: string
}
const {content} = Astro.props
---
<a href="" class="2xl:inline-flex 1xl:inline-flex xl:inline-flex lg:inline-flex md:hidden sm:hidden text-primary-400 hover:text-primary-300">{content}</a>