---
interface Props {
    content: string
}
const {content} = Astro.props
---
<a href="" class=" mr-2 ml-2 p-1 text-primary-400 hover:text-primary-300 hover:bg-primary-900 hover:p-3  rounded-md hover:font-bold transition duration-300">{content}</a>