<div class="flex flex-col">
	<div class="flex flex-col bg-primary-400">
		<div
			class="flex flex-row items-center justify-center self-center py-10 text-center text-primary-980 xs:w-full sm:w-full md:w-full lg:max-w-[70%] xl:max-w-[70%] 1xl:max-w-[70%] 2xl:max-w-[70%]"
		>
			<div class="flex flex-col items-center justify-center">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="50%"
					height="50%"
					viewBox="0 0 79 79"
					fill="none"
					class="Mongo hover:animate-pulse"
				>
					<path id="path"
						d="M45.2275 13.9237C42.4625 10.632 40.0596 7.34038 39.5988 6.61621H39.5C39.0392 7.30746 36.6363 10.632 33.8713 13.9237C10.1713 44.1741 37.6238 64.5825 37.6238 64.5825L37.8542 64.747C38.0517 67.8741 38.5784 72.4166 38.5784 72.4166H40.6192C40.6192 72.4166 41.1129 67.907 41.3104 64.747L41.5408 64.5495C41.5408 64.5495 68.9275 44.1741 45.2275 13.9237ZM39.5 64.1216C38.9231 63.6477 38.3939 63.1185 37.92 62.5416L39.5 29.625L40.9813 62.5416C40.5372 63.1128 40.0413 63.6417 39.5 64.1216Z"
						fill="#262626"></path>
				</svg>
				<span>MongoDB</span>
			</div>
			<div class="flex flex-col items-center justify-center">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="50%"
					height="50%"
					viewBox="0 0 79 79"
					fill="none"
					class="Postgre hover:animate-pulse"
				>
					<path
						d="M52.8626 3.29163C50.1016 3.31189 47.3558 3.70218 44.6985 4.45209L44.5103 4.50854C42.8364 4.22189 41.1431 4.06356 39.445 4.03495C35.9542 3.97536 32.9527 4.79709 30.5377 6.16769C28.154 5.36478 23.211 3.98163 18.0014 4.25763C14.3726 4.44895 10.4145 5.51846 7.48195 8.52311C4.55569 11.5278 3.00944 16.1759 3.33563 22.502C3.42345 24.2489 3.93468 27.0936 4.78778 30.782C5.63461 34.4673 6.83272 38.7798 8.32251 42.716C9.8123 46.6553 11.4464 50.1931 13.9994 52.5956C15.2728 53.7999 17.026 54.813 19.0929 54.7283C20.5451 54.6719 21.8592 54.054 22.9915 53.1413C23.5435 53.847 24.1331 54.1544 24.6694 54.4398C25.3438 54.7973 26.0024 55.0419 26.683 55.205C28.5679 55.6875 30.5307 55.7846 32.454 55.4904C33.2914 55.3556 34.1727 55.0921 35.0509 54.7158C35.0823 55.6629 35.1199 56.5913 35.1607 57.5322C35.2799 60.5118 35.3583 63.2624 36.2804 65.6743C36.4278 66.0695 36.8324 68.0987 38.4351 69.8896C40.0347 71.6836 43.1711 72.8001 46.7403 72.06C49.2588 71.5362 52.4642 70.5921 54.5907 67.6565C56.6921 64.7522 57.6424 60.5871 57.8306 53.8282C57.8777 53.4643 57.9341 53.1538 57.9937 52.8622L58.4955 52.9061H58.552C61.2399 53.0253 64.1568 52.6552 66.5937 51.5574C68.7516 50.5851 70.3825 49.6066 71.5712 47.8659C71.8692 47.4362 72.1954 46.9156 72.2832 46.0154C72.371 45.1216 71.8441 43.7165 70.9627 43.0704C69.197 41.7719 68.0898 42.2643 66.9011 42.5058C65.7312 42.7567 64.5394 42.8947 63.3382 42.923C66.7662 37.3277 69.222 31.3811 70.624 26.1182C71.452 23.0132 71.9193 20.1497 71.957 17.6469C71.9946 15.144 71.7845 12.9266 70.2382 11.0071C65.405 5.01664 58.6085 3.36063 53.3518 3.30417C53.1888 3.30103 53.0257 3.2979 52.8626 3.30104V3.29163ZM52.7246 5.13268C57.6958 5.08564 64.0501 6.44055 68.6105 12.0955C69.636 13.3657 69.9403 15.2224 69.9058 17.512C69.8681 19.7984 69.4322 22.5333 68.6355 25.5317C67.0893 31.3403 64.1662 38.1086 60.0481 44.1869C60.1946 44.2877 60.3525 44.3708 60.5185 44.4347C61.3779 44.7797 63.335 45.0745 67.2461 44.2967C68.2278 44.0928 68.9492 43.958 69.6956 44.51C69.8746 44.6579 70.0168 44.8454 70.111 45.0577C70.2051 45.2699 70.2487 45.5012 70.2382 45.7332C70.1975 46.0837 70.0644 46.417 69.8525 46.6992C69.0997 47.8 67.6068 48.8445 65.6936 49.7038C64.0031 50.4691 61.5755 50.8674 59.4239 50.8925C58.345 50.9019 57.3508 50.8204 56.5071 50.5663L56.4506 50.5475C56.1244 53.5929 55.3748 59.6117 54.8887 62.356C54.4966 64.5703 53.8129 66.3298 52.505 67.6471C51.2003 68.9643 49.3561 69.7579 46.872 70.2754C43.7952 70.9152 41.5527 70.2252 40.1068 69.0428C38.6641 67.8666 38.0023 66.3016 37.604 65.3418C37.3311 64.6832 37.19 63.827 37.052 62.6822C36.9004 61.3116 36.7989 59.9359 36.7477 58.5578C36.6573 56.1419 36.6281 53.724 36.6599 51.3065C35.374 52.445 33.7744 53.204 32.0588 53.4894C30.0201 53.825 28.1948 53.4957 27.1064 53.2323C26.5728 53.101 26.0568 52.9062 25.5696 52.652C25.0615 52.3917 24.5816 52.0969 24.2617 51.5135C24.0732 51.1805 24.013 50.7901 24.0923 50.4158C24.1948 50.0354 24.4224 49.7007 24.7384 49.4655C25.3281 49.0013 26.1028 48.7441 27.2727 48.5057C29.4054 48.0823 30.1487 47.7906 30.6004 47.4425C30.9862 47.1445 31.4221 46.5423 32.1937 45.6548C32.1899 45.6161 32.1868 45.5774 32.1843 45.5387C30.8087 45.5023 29.4598 45.1503 28.2418 44.51C27.7996 44.9616 25.5288 47.2919 22.7594 50.5224C21.5958 51.8742 20.3098 52.6489 18.9518 52.7053C17.5937 52.7618 16.3674 52.0969 15.3261 51.1183C13.2404 49.155 11.5781 45.7771 10.1291 41.9601C8.68633 38.14 7.50704 33.887 6.67276 30.2645C5.8322 26.642 5.33665 23.722 5.26765 22.3138C4.95401 16.3264 6.39676 12.293 8.87452 9.74944C11.3523 7.20583 14.7459 6.24296 18.0579 6.05792C23.9983 5.72546 29.6406 7.73588 30.7823 8.1687C32.9809 6.71969 35.8131 5.81641 39.3541 5.87287C41.0325 5.89582 42.703 6.10622 44.3347 6.50015L44.3943 6.47506C45.1125 6.23042 45.8433 6.02342 46.5835 5.86032C48.5984 5.40462 50.6558 5.16283 52.7214 5.13896L52.7246 5.13268ZM53.1731 7.05842H52.7434C51.0465 7.08132 49.3556 7.26616 47.6938 7.61043C50.9926 9.04692 53.8908 11.2669 56.137 14.0776C57.4972 15.7595 58.6259 17.616 59.4929 19.5977C59.8191 20.3567 60.0387 20.9996 60.161 21.4952C60.2237 21.7461 60.2676 21.9562 60.2802 22.1758C60.2922 22.3147 60.2806 22.4547 60.2457 22.5898L60.2268 22.6274C60.3178 25.1459 59.6748 26.8521 59.5964 29.2546C59.5368 30.9984 59.9947 33.0465 60.1077 35.2765C60.2143 37.3778 59.954 39.6831 58.5489 41.9475C58.668 42.0855 58.7747 42.2235 58.8876 42.3615C62.6042 36.6847 65.2859 30.3994 66.7129 25.0456C67.4751 22.1601 67.8828 19.5475 67.9173 17.4775C67.9487 15.4075 67.5503 13.9051 67.0422 13.281C63.0653 8.34748 57.6864 7.09292 53.1731 7.05842ZM38.9809 7.79547C35.4775 7.80174 32.9621 8.83048 31.0583 10.3673C29.0918 11.9575 27.7745 14.131 26.9088 16.3609C26.0709 18.5894 25.5585 20.9271 25.3877 23.3018L25.4284 23.2798C26.4854 22.7027 27.8748 22.1287 29.3615 21.7963C30.8513 21.4638 32.454 21.3603 33.9061 21.9061C35.3583 22.4549 36.5595 23.7377 36.9955 25.6885C39.0812 35.0538 36.3463 38.5352 35.3363 41.1603C34.9552 42.1122 34.6285 43.085 34.3578 44.074C34.4832 44.0427 34.6087 44.0113 34.7373 43.9987C35.2882 43.9689 35.838 44.0767 36.3369 44.3124C37.3531 44.7201 38.0493 45.5732 38.4257 46.5518C38.5229 46.8089 38.5951 47.0849 38.6358 47.3672C38.6798 47.4864 38.6986 47.6087 38.6954 47.7342C38.5829 51.3153 38.5954 54.8992 38.7331 58.4794C38.8021 60.0288 38.9024 61.39 39.031 62.4658C39.1565 63.5384 39.3384 64.3539 39.4544 64.6299C39.8308 65.552 40.386 66.7563 41.3896 67.5749C42.3933 68.3904 43.8266 68.9361 46.4518 68.3904C48.7288 67.9168 50.1339 67.2613 51.0748 66.311C52.0095 65.3669 52.5709 64.0528 52.9284 62.0361C53.4648 59.0157 54.5437 50.2621 54.6723 48.6124C54.6158 47.3735 54.804 46.4169 55.2117 45.6893C55.6352 44.9428 56.2875 44.4849 56.8489 44.2371C57.1312 44.1117 57.3947 44.0301 57.6111 43.9705C57.3814 43.6508 57.1408 43.3391 56.8897 43.0359C56.0811 42.0853 55.4164 41.0212 54.9169 39.8775C54.6784 39.4061 54.4242 38.9427 54.1548 38.4881C53.7627 37.7981 53.264 36.9356 52.7434 35.9665C51.699 34.025 50.5636 31.6728 49.9739 29.3801C49.3874 27.0936 49.2996 24.7257 50.8051 23.054C52.1412 21.5705 54.4809 20.9557 57.9969 21.3007C57.8934 20.9996 57.8306 20.7487 57.655 20.3473C56.8574 18.5272 55.8205 16.8217 54.5719 15.2757C51.5923 11.5811 46.7717 7.91779 39.3196 7.79861L38.9809 7.79547ZM19.2968 7.94288C18.9204 7.94288 18.544 7.95543 18.1677 7.97425C15.1755 8.14047 12.3465 8.98416 10.3235 11.0667C8.29428 13.1461 6.96131 16.5585 7.24986 22.2103C7.30945 23.2767 7.78932 26.275 8.61106 29.8317C9.4328 33.3946 10.5995 37.5817 11.9984 41.2795C13.3972 44.9804 15.0971 48.2015 16.7092 49.7258C17.5216 50.4879 18.2273 50.7953 18.8671 50.7702C19.5101 50.7388 20.2816 50.3813 21.2288 49.2804C22.9539 47.2619 24.7425 45.2985 26.5921 43.3934C25.2858 42.297 24.2799 40.8864 23.6689 39.2942C23.0659 37.7162 22.8822 36.0088 23.1357 34.3387C23.44 32.2122 23.4807 30.2237 23.4462 28.6556C23.4086 27.125 23.2957 26.1088 23.2957 25.4721V25.3843C23.2929 22.0696 23.8868 18.7815 25.0489 15.6772C25.877 13.5382 27.1127 11.3647 28.9663 9.60517C27.1472 9.02493 23.9167 8.14047 20.4196 7.97425C20.0436 7.95463 19.6671 7.94418 19.2905 7.94288H19.2968ZM56.0366 23.1292C54.0262 23.1543 52.8971 23.6593 52.3043 24.3179C51.4637 25.2526 51.3853 26.8898 51.906 28.9096C52.4235 30.9294 53.4961 33.1908 54.506 35.0663C55.0079 36.0072 55.4971 36.8541 55.8923 37.5378C56.2907 38.2278 56.5823 38.7171 56.758 39.1373C56.9211 39.52 57.103 39.8587 57.2849 40.1755C58.0627 38.5791 58.2039 37.014 58.1223 35.38C58.0188 33.3601 57.5358 31.2933 57.6079 29.2013C57.6864 26.7549 58.185 25.1585 58.229 23.2673C57.5017 23.1759 56.7695 23.1298 56.0366 23.1292ZM31.6354 23.4586C31.0211 23.4643 30.4091 23.5358 29.81 23.6718C28.6192 23.9522 27.4699 24.3866 26.3913 24.964C26.0306 25.1522 25.6825 25.3718 25.3563 25.6195L25.2936 25.676C25.3124 26.0963 25.3971 27.1156 25.4347 28.6116C25.4661 30.252 25.4284 32.3439 25.1023 34.6021C24.3934 39.52 28.0693 43.591 32.3913 43.5973C32.6422 42.5874 33.0593 41.5649 33.4733 40.486C34.6777 37.3402 37.0457 35.0475 35.0509 26.0931C34.7248 24.6284 34.0786 24.0357 33.1879 23.7001C32.6886 23.5289 32.1631 23.4472 31.6354 23.4586ZM55.0957 24.0451H55.2462C55.4407 24.0513 55.6226 24.0733 55.7794 24.1078C55.9237 24.1365 56.0618 24.1907 56.1872 24.2678C56.2439 24.3018 56.293 24.3473 56.3313 24.4013C56.3696 24.4553 56.3964 24.5166 56.4098 24.5814V24.6065C56.4148 24.744 56.3776 24.8797 56.3032 24.9954C56.2152 25.1532 56.1054 25.2979 55.977 25.4251C55.6736 25.7484 55.2726 25.9632 54.8354 26.0367C54.4071 26.0874 53.9749 25.9816 53.6184 25.7387C53.4742 25.645 53.3443 25.5309 53.2327 25.4C53.1368 25.2989 53.0716 25.1728 53.0445 25.0362C53.0379 24.9691 53.0456 24.9014 53.0673 24.8376C53.0889 24.7738 53.1239 24.7153 53.1699 24.6661C53.2684 24.5588 53.3866 24.4714 53.5181 24.4089C54.0136 24.1771 54.5519 24.0511 55.0988 24.0388L55.0957 24.0451ZM31.9239 24.5281C32.0808 24.5281 32.247 24.5438 32.4164 24.5657C32.868 24.6284 33.2726 24.7445 33.58 24.917C33.7305 24.9954 33.8622 25.0958 33.9751 25.2212C34.0338 25.2881 34.0786 25.3659 34.1069 25.4502C34.135 25.5339 34.1446 25.6227 34.1351 25.7105C34.1059 25.8766 34.0284 26.0303 33.9124 26.1527C33.7908 26.2986 33.6481 26.4254 33.489 26.5291C33.0996 26.7946 32.627 26.9094 32.1592 26.8521C31.6841 26.7769 31.2474 26.5464 30.9172 26.1966C30.778 26.0575 30.6597 25.8991 30.5659 25.7262C30.4682 25.5758 30.425 25.3965 30.4436 25.2181C30.4875 24.9044 30.7541 24.7476 31.0081 24.6535C31.3024 24.5632 31.6102 24.525 31.9177 24.5406L31.9239 24.5281ZM58.7715 45.6422H58.7621C58.3262 45.799 57.9686 45.8618 57.6644 45.9872C57.3618 46.1004 57.1109 46.3201 56.9587 46.6051C56.7705 46.9344 56.6137 47.5209 56.6608 48.5183C56.7956 48.6079 56.9438 48.6756 57.0998 48.719C57.6048 48.8695 58.4548 48.9699 59.4051 48.9542C61.2932 48.9323 63.6204 48.5057 64.8562 47.9474C65.8692 47.4895 66.8102 46.8936 67.6507 46.1785C63.5201 47.0065 61.1897 46.787 59.7564 46.213C59.4018 46.0708 59.07 45.8775 58.7715 45.6391V45.6422ZM34.9725 45.9119H34.9098C34.753 45.9245 34.524 45.9747 34.0849 46.4514C33.0499 47.5742 32.6924 48.2768 31.8393 48.9354C30.9924 49.5941 29.8853 49.9422 27.6772 50.3813C26.9778 50.5193 26.5795 50.673 26.3098 50.7953C26.3976 50.8643 26.3882 50.8831 26.5168 50.949C26.8398 51.1215 27.257 51.272 27.5894 51.3567C28.5398 51.5857 30.0986 51.8554 31.7263 51.5857C33.351 51.3159 35.0447 50.5601 36.4874 48.5967C36.7383 48.2579 36.7634 47.7561 36.5595 47.2167C36.3494 46.6835 35.8978 46.2193 35.5779 46.0876C35.3864 45.9993 35.182 45.9421 34.9725 45.9182V45.9119Z"
						fill="#262626"></path>
				</svg>
				<span>PostgreSQL</span>
			</div>
			<div class="flex flex-col items-center justify-center">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="50%"
					height="50%"
					viewBox="0 0 69 69"
					fill="none"
					class="Docker hover:animate-pulse"
				>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M41.4 4.59998H27.6V13.8H9.2V23H0V39.1C0 45.81 2.66553 52.2451 7.4102 56.9898C12.1549 61.7344 18.59 64.4 25.3 64.4H27.7288C34.0936 64.3999 40.3419 62.6928 45.8225 59.4565C51.3031 56.2203 55.8154 51.5733 58.8892 46H69V39.1C69 37.27 68.273 35.5149 66.979 34.2209C65.685 32.9269 63.93 32.2 62.1 32.2H59.8V29.9C59.8 28.07 59.073 26.3149 57.779 25.0209C56.485 23.7269 54.73 23 52.9 23H41.4V4.59998ZM4.6 32.2H9.2V27.6H4.6V32.2ZM13.8 32.2H18.4V27.6H13.8V32.2ZM23 32.2H27.6V27.6H23V32.2ZM32.2 32.2H36.8V27.6H32.2V32.2ZM41.4 32.2H46V27.6H41.4V32.2ZM36.8 13.8V9.19998H32.2V13.8H36.8ZM27.6 18.4H23V23H27.6V18.4ZM32.2 23V18.4H36.8V23H32.2ZM18.4 23V18.4H13.8V23H18.4ZM13.8 46H18.4V41.4H13.8V46Z"
						fill="#262626"></path>
				</svg>
				<span>Docker</span>
			</div>
			<div class="flex flex-col items-center justify-center">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="50%"
					height="50%"
					viewBox="0 0 69 69"
					fill="none"
					class="Postman hover:animate-pulse"
				>
					<g clip-path="url(#clip0_65_89)">
						<path
							d="M38.8896 0.284086C19.9951 -2.13954 2.70776 11.212 0.284137 30.1093C-2.13949 49.0038 11.2091 66.2883 30.1065 68.7148C49.0039 71.1385 66.2941 57.787 68.712 38.8896C71.1385 19.9951 57.7899 2.71059 38.8896 0.284086ZM45.9938 21.8035C45.3535 21.8119 44.7419 22.0697 44.2889 22.5222L31.4865 35.3246L30.6039 34.442L28.7553 32.5933C41.3736 20.0123 43.6478 19.8916 45.9938 21.8035ZM32.0126 35.7788L44.7776 23.0138C44.9449 22.8384 45.1463 22.6989 45.3694 22.6039C45.5924 22.5089 45.8325 22.4604 46.075 22.4614C46.3174 22.4624 46.5571 22.5128 46.7794 22.6097C47.0017 22.7065 47.2019 22.8476 47.3678 23.0244C47.5337 23.2013 47.6617 23.4101 47.7441 23.6381C47.8265 23.8661 47.8615 24.1086 47.847 24.3506C47.8325 24.5926 47.7688 24.8291 47.6597 25.0457C47.5506 25.2622 47.3986 25.4542 47.2128 25.61L33.7031 37.4693L32.0126 35.7788ZM32.9614 37.7741L29.7989 38.4583C29.7611 38.4668 29.7216 38.4624 29.6866 38.4457C29.6517 38.429 29.6234 38.4011 29.6063 38.3663C29.587 38.3331 29.5794 38.2945 29.5846 38.2565C29.5898 38.2185 29.6076 38.1833 29.635 38.1565L31.4894 36.3021L32.9614 37.7741ZM24.9028 36.4545L28.2723 33.085L30.7994 35.6092L25.1098 36.834C25.0623 36.8463 25.0121 36.8418 24.9676 36.8214C24.9231 36.801 24.887 36.7658 24.8654 36.7218C24.8386 36.6802 24.8276 36.6303 24.8345 36.5812C24.8413 36.5322 24.8656 36.4872 24.9028 36.4545ZM14.4205 53.8712C14.3918 53.8687 14.3638 53.8605 14.3383 53.8471C14.3127 53.8337 14.29 53.8154 14.2716 53.7932C14.2532 53.7711 14.2393 53.7454 14.2308 53.7179C14.2223 53.6903 14.2194 53.6613 14.2221 53.6326C14.2276 53.5826 14.2499 53.536 14.2854 53.5003H14.2911L17.0109 50.7806L20.5241 54.2938L14.4205 53.8712ZM21.3924 50.2602C21.262 50.3276 21.1581 50.4367 21.0971 50.5701C21.0361 50.7036 21.0216 50.8536 21.056 50.9962L21.6396 53.4831C21.6585 53.5597 21.6516 53.6404 21.62 53.7127C21.5884 53.785 21.5339 53.845 21.4649 53.8832C21.3959 53.9215 21.3162 53.936 21.2382 53.9245C21.1601 53.9129 21.088 53.876 21.033 53.8195H21.0244L18.3391 51.1342L17.4939 50.2861L28.3096 39.4818L33.5421 38.352L36.0549 40.8647C32.4468 44.033 27.5133 47.1926 21.3924 50.2602ZM36.5695 40.4047H36.5638L34.1516 37.9926L47.6613 26.1332C47.7862 26.0222 47.9007 25.9 48.0034 25.7681C47.5779 29.635 42.17 35.0975 36.5695 40.4047ZM47.0834 21.8322L47.0748 21.8265C46.1242 20.8714 45.5783 19.5867 45.5504 18.2396C45.5226 16.8924 46.0149 15.5863 46.9252 14.5927C47.8355 13.5992 49.0936 12.9946 50.4381 12.9047C51.7825 12.8148 53.1099 13.2465 54.1444 14.11L49.5156 18.7473C49.4836 18.7791 49.4581 18.817 49.4407 18.8587C49.4234 18.9004 49.4144 18.9451 49.4144 18.9903C49.4144 19.0354 49.4234 19.0802 49.4407 19.1219C49.4581 19.1636 49.4836 19.2014 49.5156 19.2332L53.1008 22.8183C52.1208 23.3048 51.0129 23.4713 49.9333 23.2943C48.8536 23.1174 47.8568 22.606 47.0834 21.8322ZM54.4951 21.8322C54.2573 22.067 53.9963 22.277 53.716 22.459L50.243 18.9888L54.6504 14.5815C56.5508 16.6515 56.4818 19.8485 54.4951 21.8322ZM54.2076 17.3932C54.1385 17.4433 54.0867 17.5137 54.0594 17.5946C54.0321 17.6755 54.0307 17.7628 54.0553 17.8446C54.1576 18.0519 54.1977 18.2844 54.1707 18.514C54.1436 18.7436 54.0506 18.9605 53.9029 19.1383C53.8699 19.1798 53.8455 19.2274 53.831 19.2784C53.8165 19.3293 53.8122 19.3826 53.8184 19.4353C53.8245 19.4879 53.841 19.5388 53.8668 19.585C53.8927 19.6312 53.9274 19.6719 53.969 19.7047C54.0381 19.7588 54.1228 19.7891 54.2105 19.791C54.2687 19.7904 54.326 19.7773 54.3787 19.7525C54.4313 19.7277 54.4779 19.6918 54.5153 19.6472C54.7622 19.3505 54.9174 18.9883 54.9618 18.6049C55.0062 18.2214 54.938 17.8334 54.7654 17.4881C54.7353 17.4449 54.6969 17.4081 54.6524 17.3799C54.6079 17.3517 54.5583 17.3326 54.5064 17.3238C54.4545 17.3149 54.4013 17.3165 54.35 17.3285C54.2987 17.3404 54.2503 17.3624 54.2076 17.3932Z"
							fill="#262626"></path>
					</g>
					<defs>
						<clipPath id="clip0_65_89">
							<rect width="69" height="69" fill="white"></rect>
						</clipPath>
					</defs>
				</svg>
				<span>Postman</span>
			</div>
		</div>

		<div
			class="flex w-screen flex-row items-center justify-between self-center bg-primary-400 px-3 font-bold uppercase text-primary-980 xs:hidden sm:hidden md:hidden lg:inline-flex xl:inline-flex 1xl:inline-flex 2xl:inline-flex"
		>
			<h1>Databases | Development Tools</h1>
			<h1>4</h1>
		</div>
	</div>
</div>
<style>
.Mongo, #path {
  transition: fill 0.3s;
}

.Mongo:hover #path {
  fill: #399a3a;
}

	
.Postgre  path {
  transition: fill 0.3s;
}

.Postgre:hover  path {
  fill: #396c94;
}

.Docker  path {
  transition: fill 0.3s;
}

.Docker:hover  path {
  fill: #119fed;
}

.Postman  path {
  transition: fill 0.3s;
}

.Postman:hover  path {
  fill: #ff713d;
}
		
		
		</style>