<div class="flex min-h-full min-w-full flex-row items-center gap-x-[.5rem]">
	<p class="h-[2rem] w-[4.5625rem] rounded-r-full bg-primary-400"></p>

	<span class="font-sans text-base text-primary-400">Gibson<br /> Gil &#123Dev&#125</span>
</div>
