<div class="flex flex-row items-center  gap-x-[.5rem]  min-w-full min-h-full   ">


        <p class="bg-primary-400 w-[4.5625rem] h-[2rem] rounded-r-full "></p>


        <span class="text-primary-400 text-base font-sans">Gibson<br> Gil &#123Dev&#125</span>
    


</div>
    