---
import ContentLink from "./ContentLink.astro";
import Link from "./Link.astro";
import Nameicon from "./Nameicon.astro";

---

<nav
	class="flex flex-row w-full items-center justify-between xs:px-0 md:px-0 sm:px-0 lg:px-0 py-10 px-10 border-2 border-red-500   "
>
<div class="xl:w-[33%] 1xl:w-[33%] 2xl:w-[33%] lg:w-[33%]  sm:w-full md:w-full lg:full justify-self-start mx-10  ">
    
    <Nameicon />
</div>

<div class="w-[33%]  self-center xs:hidden sm:hidden md:hidden lg:hidden xl:inline-flex 1xl:inline-flex 2xl:inline-flex">
    <ContentLink content="Home" />
    <ContentLink content="About" />
    <ContentLink content="My work" />

</div>
<div class="w-[33%] font-bold  flex flex-row  ml-10  xs:hidden sm:hidden md:hidden lg:hidden xl:inline-flex 1xl:inline-flex 2xl:inline-flex ">
    <Link content="linkedin"/>
	<Link content="github" />
	<Link content="twitter" />

</div>
	

</nav>
