<div class="flex flex-col">
	<div class="flex flex-col bg-primary-980">
		<div
			class="flex flex-row items-center justify-center self-center py-10 text-center text-primary-80 xs:w-full sm:w-full md:w-full lg:max-w-[70%] xl:max-w-[70%] 1xl:max-w-[70%] 2xl:max-w-[70%]"
		>
			<div class="flex flex-col items-center justify-center">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="80%"
					height="80%"
					viewBox="0 0 80 79"
					fill="none"
					class="Nodejs hover:animate-pulse"
				>
					<g clip-path="url(#clip0_65_25)">
						<path
							d="M38.2512 0.503624C38.8176 0.173079 39.4617 -0.00109863 40.1175 -0.00109863C40.7734 -0.00109863 41.4175 0.173079 41.9839 0.503624L72.6655 18.4021C73.2255 18.7277 73.6903 19.1945 74.0135 19.756C74.3367 20.3174 74.5069 20.9538 74.5072 21.6016V57.3984C74.5069 58.0462 74.3367 58.6826 74.0135 59.244C73.6903 59.8055 73.2255 60.2723 72.6655 60.5979L41.9839 78.4964C41.4175 78.8269 40.7734 79.0011 40.1175 79.0011C39.4617 79.0011 38.8176 78.8269 38.2512 78.4964L30.5832 74.023C29.7347 73.528 29.1175 72.7162 28.8675 71.7662C28.6175 70.8161 28.7551 69.8057 29.2501 68.9571C29.7451 68.1086 30.5569 67.4914 31.5069 67.2414C32.457 66.9914 33.4674 67.129 34.316 67.624L40.1175 71.0111L67.101 55.2704V23.7296L40.1175 7.98887L13.139 23.7296V55.2704L18.6542 58.4896C20.3527 59.0327 22.4561 59.1661 23.9324 58.5143C24.7052 58.1758 25.3393 57.5835 25.7297 56.8356C26.2432 55.9073 26.7172 54.3619 26.7172 51.8438V25.9219C26.7172 24.9397 27.1073 23.9978 27.8018 23.3034C28.4963 22.6089 29.4382 22.2187 30.4203 22.2187C31.4024 22.2187 32.3443 22.6089 33.0388 23.3034C33.7333 23.9978 34.1234 24.9397 34.1234 25.9219V51.8438C34.1234 55.2506 33.4865 58.1242 32.1978 60.435C31.0245 62.591 29.1702 64.2977 26.9245 65.2886C22.9449 67.0463 18.5456 66.3254 15.8547 65.3577C15.6423 65.2811 15.4373 65.1852 15.2424 65.0713L7.56954 60.5979C7.01045 60.2717 6.54664 59.8046 6.22437 59.2432C5.90209 58.6818 5.7326 58.0458 5.73279 57.3984V21.6016C5.7326 20.9542 5.90209 20.3182 6.22437 19.7568C6.54664 19.1954 7.01045 18.7283 7.56954 18.4021L38.2512 0.503624ZM41.5099 26.0848C43.4701 23.7543 46.5313 22.2187 50.6838 22.2187C54.535 22.2187 57.4729 23.542 59.4627 25.6404C59.8087 25.9915 60.0811 26.408 60.264 26.8657C60.4469 27.3234 60.5366 27.8129 60.5279 28.3057C60.5191 28.7985 60.4121 29.2846 60.2131 29.7355C60.014 30.1864 59.727 30.593 59.3687 30.9315C59.0105 31.27 58.5883 31.5336 58.1269 31.7069C57.6654 31.8801 57.1741 31.9595 56.6816 31.9403C56.1891 31.9212 55.7053 31.8039 55.2587 31.5954C54.8122 31.3869 54.4117 31.0914 54.0808 30.7261C53.6413 30.2767 52.7378 29.625 50.6788 29.625C48.4965 29.625 47.5979 30.3557 47.1782 30.8495C46.7455 31.3768 46.4944 32.0296 46.4622 32.7109C46.4622 33.1207 46.64 33.9305 47.1782 34.5724C47.5979 35.0661 48.4965 35.7969 50.6838 35.7969C51.038 35.7959 51.3905 35.8458 51.7305 35.945C54.7918 36.3894 57.1223 37.762 58.722 39.6629C60.5588 41.8503 61.171 44.4375 61.171 46.2891C61.171 48.1406 60.5588 50.7279 58.722 52.9152C56.7619 55.2457 53.7006 56.7812 49.5482 56.7812C45.6969 56.7812 42.7591 55.458 40.7742 53.3596C40.124 52.6417 39.7808 51.6976 39.8185 50.7297C39.8561 49.7618 40.2714 48.8472 40.9754 48.182C41.6794 47.5167 42.6161 47.1538 43.5845 47.171C44.553 47.1881 45.4761 47.5841 46.1561 48.2739C46.5857 48.7282 47.4942 49.375 49.5482 49.375C51.7305 49.375 52.6341 48.6442 53.0538 48.1505C53.4847 47.6226 53.734 46.9698 53.7648 46.2891C53.7326 45.6077 53.4816 44.9549 53.0489 44.4276C52.6341 43.9339 51.7305 43.2031 49.5482 43.2031C49.1923 43.2045 48.8381 43.1547 48.4965 43.055C45.4352 42.6106 43.1047 41.238 41.5099 39.3371C39.9547 37.476 39.0881 35.136 39.056 32.7109C39.056 30.8594 39.6682 28.2721 41.5099 26.0848Z"
							fill="#BFE6AD"></path>
					</g>
					<defs>
						<clipPath id="clip0_65_25">
							<rect width="79" height="79" fill="white" transform="translate(0.795288)"></rect>
						</clipPath>
					</defs>
				</svg>
				<span>NodeJs</span>
			</div>
			<div class="flex flex-col items-center justify-center">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="80%"
					height="80%"
					viewBox="0 0 80 80"
					fill="none"
					class="Springboot hover:animate-pulse"
				>
					<g clip-path="url(#clip0_65_21)">
						<path
							d="M78.7847 35.7405L63.2151 8.79823C61.8656 6.46115 58.5509 4.53882 55.8418 4.53882H24.7356C22.0364 4.53882 18.7085 6.46115 17.3622 8.79823L1.80253 35.7405C0.452948 38.0776 0.452948 41.9058 1.80253 44.2462L17.3557 71.2017C18.7052 73.5387 22.0199 75.4611 24.729 75.4611H55.8517C58.5509 75.4611 61.8623 73.5387 63.225 71.2017L78.7814 44.2429C80.131 41.9058 80.131 38.0776 78.7814 35.7405H78.7847ZM36.9246 19.4435C36.9246 17.6759 38.3664 16.2341 40.1307 16.2341C41.895 16.2341 43.3401 17.6759 43.3401 19.4435V38.6043C43.2878 39.4191 42.9273 40.1834 42.3318 40.742C41.7363 41.3005 40.9505 41.6114 40.134 41.6114C39.3175 41.6114 38.5317 41.3005 37.9362 40.742C37.3407 40.1834 36.9801 39.4191 36.9279 38.6043L36.9246 19.4435ZM40.1307 60.3589C34.364 60.3511 28.8359 58.0563 24.7588 53.9781C20.6818 49.8998 18.3888 44.371 18.3827 38.6043C18.3904 35.2124 19.1878 31.869 20.7115 28.8387C22.2352 25.8083 24.4435 23.1743 27.1615 21.1453C27.4625 20.921 27.8049 20.7584 28.1689 20.6668C28.5329 20.5752 28.9114 20.5564 29.2826 20.6115C29.6539 20.6665 30.0107 20.7943 30.3325 20.9876C30.6542 21.1809 30.9346 21.4358 31.1576 21.7378C31.3817 22.0383 31.5443 22.38 31.6361 22.7434C31.728 23.1069 31.7472 23.4848 31.6928 23.8557C31.6384 24.2266 31.5114 24.5831 31.319 24.9048C31.1266 25.2265 30.8727 25.5071 30.5717 25.7306C27.2742 28.3104 25.1152 32.0767 24.5555 36.2259C23.9957 40.3752 25.0795 44.5789 27.5756 47.9403C30.0716 51.3017 33.7824 53.5548 37.9162 54.2188C42.05 54.8827 46.2797 53.9051 49.7029 51.4944C51.7133 50.0003 53.3459 48.0562 54.4703 45.8179C55.5946 43.5796 56.1793 41.1091 56.1776 38.6043C56.171 36.0901 55.5764 33.6124 54.4413 31.369C53.3062 29.1257 51.662 27.179 49.6403 25.6845C49.0319 25.2334 48.6269 24.5597 48.514 23.8108C48.4011 23.0619 48.5895 22.2988 49.0379 21.6884C49.489 21.08 50.1627 20.675 50.9116 20.5621C51.6605 20.4492 52.4237 20.6376 53.034 21.086C55.7735 23.1129 58.0003 25.7531 59.5362 28.7951C61.0721 31.8371 61.8743 35.1965 61.8787 38.6043C61.8744 44.3718 59.5813 49.9018 55.5031 53.98C51.4249 58.0582 45.8949 60.3513 40.1274 60.3556L40.1307 60.3589Z"
							fill="#BFE6AD"></path>
					</g>
					<defs>
						<clipPath id="clip0_65_21">
							<rect width="79" height="79" fill="white" transform="translate(0.795288 0.5)"></rect>
						</clipPath>
					</defs>
				</svg>
				<span>Springboot</span>
			</div>
			<div class="flex flex-col items-center justify-center">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="80%"
					height="80%"
					viewBox="0 0 80 80"
					fill="none"
					class="Django hover:animate-pulse"
				>
					<path 
						d="M25.5914 40.8196C25.5552 47.3535 30.3479 51.2476 37.9944 49.4767V32.1592C30.2524 29.8024 25.6243 34.572 25.5914 40.8196ZM38.2281 7.11951H48.7582V56.9652C38.6659 58.6143 28.995 59.6611 22.0825 55.7967C13.1785 50.8164 12.461 34.9966 19.5084 27.9492C23.0799 24.3777 30.2755 21.8596 37.9944 23.5021V7.82392C37.9747 7.49147 37.9549 7.15901 38.2281 7.11951ZM65.8419 18.1203H55.3119V7.11951H65.8419V18.1203Z"
						fill="#BFE6AD"></path>
					<path 
						d="M65.8419 23.6865C65.832 31.4417 65.832 37.0112 65.832 46.4352C65.3844 55.6947 65.4897 63.0647 62.096 67.4953C61.4278 68.3709 60.0091 69.6415 58.8208 70.5368C57.8234 71.2873 55.9208 72.8114 54.8445 72.8772C53.7549 72.9463 50.9603 71.3663 49.6963 70.7705C48.034 69.9904 46.5001 68.9502 44.7818 68.4334C48.7911 65.9515 52.5897 64.0884 54.1433 59.0719C55.4929 54.7072 55.3119 48.3839 55.3119 42.2219C55.3119 36.1356 55.3415 29.0618 55.3415 23.6898L65.8419 23.6865Z"
						fill="#BFE6AD"></path>
				</svg>
				<span>Django</span>
			</div>
			<div class="flex flex-col items-center justify-center">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="60%"
					height="60%"
					viewBox="0 0 64 77"
					fill="none"
					class="Astro hover:animate-bounce"
				>
					<path
						d="M20.3487 64.3463C16.4584 60.958 15.3234 53.8457 16.9438 48.6903C19.7517 51.9393 23.6453 52.9717 27.6767 53.5512C33.8993 54.4473 40.0104 54.1117 45.7901 51.4042C46.4527 51.0938 47.0629 50.679 47.7845 50.2642C48.329 51.762 48.4701 53.2725 48.2798 54.8147C47.8206 58.5672 45.859 61.4647 42.7428 63.6623C41.4963 64.5395 40.1777 65.3248 38.8885 66.1545C34.9359 68.7005 33.8665 71.6867 35.3525 76.0313L35.4968 76.5C33.6054 75.7165 31.9986 74.4068 30.8815 72.738C29.7193 71.031 29.099 69.0333 29.0971 66.9905C29.0839 65.9772 29.0839 64.9575 28.9396 63.9568C28.5919 61.5217 27.3913 60.4323 25.1313 60.369C22.8122 60.3057 20.9752 61.6705 20.4898 63.8207C20.4504 63.9885 20.3979 64.15 20.3421 64.3432H20.3487V64.3463ZM0.795288 50.2705C0.795288 50.2705 11.4232 45.283 22.0839 45.283L30.1238 21.3272C30.4256 20.1682 31.3047 19.3828 32.2953 19.3828C33.2859 19.3828 34.165 20.1682 34.4668 21.3272L42.5033 45.283C55.1322 45.283 63.7953 50.2705 63.7953 50.2705L45.7048 2.80217C45.1866 1.4025 44.3107 0.5 43.1299 0.5H21.4607C20.2798 0.5 19.4434 1.4025 18.889 2.80217L0.795288 50.2705Z"
						fill="#BFE6AD"></path>
				</svg>
				<span>Astro</span>
			</div>
			<div class="flex flex-col items-center justify-center">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="80%"
					height="80%"
					viewBox="0 0 90 89"
					fill="none"
					class="Nuxt hover:animate-pulse"
				>
					<g clip-path="url(#clip0_65_42)">
						<path
							d="M35.676 14.1409L0.795288 74.859H23.5275L47.8539 33.1745L35.676 14.1409ZM59.0135 21.1484L52.2302 33.1716L76.3406 74.859H89.7953L59.0135 21.1484ZM50.0446 36.9758L27.8993 74.8592H71.9621L50.0446 36.9758Z"
							fill="#BFE6AD"></path>
					</g>
					<defs>
						<clipPath id="clip0_65_42">
							<rect width="89" height="89" fill="white" transform="translate(0.795288)"></rect>
						</clipPath>
					</defs>
				</svg>
				<span>Nuxt</span>
			</div>
		</div>

		<div
			class="flex w-screen flex-row items-center justify-between self-center bg-primary-980 px-3 font-bold uppercase text-primary-350 xs:hidden sm:hidden md:hidden lg:inline-flex xl:inline-flex 1xl:inline-flex 2xl:inline-flex"
		>
			<h1>frameworks</h1>
			<h1>3</h1>
		</div>
	</div>
</div>
<style>

	.Nodejs  path {
	  transition: fill 0.3s;
	}
	
	.Nodejs:hover path {
	  fill: #539e43;
	}
	

	
	.Springboot  path {
	  transition: fill 0.3s;
	}
	
	.Springboot:hover  path {
	  fill: #71e544;
	}
	
	.Django  path {
	  transition: fill 0.3s;
	}
	
	.Django:hover  path {
	  fill: #32ac7b;
	}
	.Astro  path {
	  transition: fill 0.3s;
	}
	
	.Astro:hover  path {
	  fill: #ff5d01;
	}
	
	.Nuxt  path {
	  transition: fill 0.3s;
	}
	
	.Nuxt:hover  path {
	  fill: #08c792;
	}
	
	
	</style>