<div
	class="2xl:w-[50% ] flex h-full flex-col items-center self-center xs:w-[80%] sm:w-[75%] md:w-[85%] lg:w-[80%] xl:w-[50%] 1xl:w-[50%]"
>
	<img src="hdprofilephoto.png" class="h-[100%] w-[95%]" alt="profilephoto" />
</div>
