<div
	class="flex h-full flex-col items-center xs:w-[100%] sm:w-[100%] md:w-[100%] lg:w-[100%] xl:w-[50%] 1xl:w-[50%] 2xl:w-[50%]"
>
	<img src="hdprofilephoto.png" class="h-[100%] w-[90%]" alt="profilephoto" />
</div>
