<div
	class="mt-5 flex h-[100%] flex-col items-start justify-end font-[950] uppercase text-primary-350 xs:w-[100%] xs:text-[200%]
 sm:w-[100%] sm:text-[200%] md:w-[100%] md:text-[200%] lg:w-[35%] lg:text-[180%] xl:w-[50%] xl:text-[180%] 1xl:w-[50%] 1xl:text-[180%] 2xl:w-[50%] 2xl:text-[180%]"
>
	<div class="flex w-full flex-row justify-center self-start">
		<div class="flex flex-col items-start justify-end ml-5">
			<span class="ml-1">javascript</span>
			<span class="ml-1">python</span>
			<span class="ml-1">java</span>

			<div class="flex flex-row">
				<div
					class="flex flex-row items-center xs:hidden sm:hidden md:hidden lg:hidden xl:inline-flex 1xl:inline-flex 2xl:inline-flex"
				>
					<span
						class="mb-3 ml-2
       
        text-[50%] text-primary-400 "
						>and more
					</span>
					<svg
						class="mb-3"
						xmlns="http://www.w3.org/2000/svg"
						width="50%"
						height="20%"
						viewBox="0 0 278 3"
						fill="none"
					>
						<path
							d="M276 3C276.828 3 277.5 2.32843 277.5 1.5C277.5 0.671573 276.828 0 276 0V3ZM0 3H276V0H0V3Z"
							fill="#F9F4DA"></path>
					</svg>
					<svg
						class="bg-primary-350"
						xmlns="http://www.w3.org/2000/svg"
						width="2"
						height="15"
						viewBox="0 0 2 124"
						fill="#F9F4DA"
					>
						<path
							d="M1.00004 0C1.00004 72.6375 1.00012 50.8625 1.00012 123.5"
							stroke="#F9F4DA"
							stroke-width="2"></path>
					</svg>
				</div>
			</div>
		</div>

		<div
			class="flex min-h-[75%] max-w-[30%] flex-col items-end self-center xs:inline-flex sm:inline-flex md:inline-flex lg:inline-flex xl:hidden 1xl:hidden 2xl:hidden"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="25%"
				height="25%"
				viewBox="0 0 56 56"
				fill="none"
			>
				<a href="https://www.linkedin.com/in/gibsongil/">
					<circle cx="27.9934" cy="27.9934" r="27.9934" fill="#F9F4DA"></circle>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						x="13"
						y="13"
						width="28"
						height="28"
						viewBox="0 0 28 28"
						fill="none"
					>
						<path
							d="M22.2849 3.41979C22.8901 3.41979 23.4706 3.66022 23.8986 4.08819C24.3265 4.51617 24.567 5.09662 24.567 5.70186V21.6763C24.567 22.2816 24.3265 22.862 23.8986 23.29C23.4706 23.718 22.8901 23.9584 22.2849 23.9584H6.31042C5.70518 23.9584 5.12472 23.718 4.69675 23.29C4.26878 22.862 4.02835 22.2816 4.02835 21.6763V5.70186C4.02835 5.09662 4.26878 4.51617 4.69675 4.08819C5.12472 3.66022 5.70518 3.41979 6.31042 3.41979H22.2849ZM21.7144 21.1058V15.0583C21.7144 14.0718 21.3225 13.1257 20.6249 12.4281C19.9273 11.7305 18.9812 11.3386 17.9946 11.3386C17.0247 11.3386 15.8951 11.9319 15.3474 12.8219V11.5554H12.1639V21.1058H15.3474V15.4805C15.3474 14.6019 16.0549 13.8831 16.9335 13.8831C17.3571 13.8831 17.7634 14.0514 18.063 14.351C18.3626 14.6505 18.5309 15.0569 18.5309 15.4805V21.1058H21.7144ZM8.45556 9.76394C8.96397 9.76394 9.45155 9.56198 9.81104 9.20249C10.1705 8.84299 10.3725 8.35541 10.3725 7.84701C10.3725 6.78584 9.51673 5.91866 8.45556 5.91866C7.94413 5.91866 7.45365 6.12182 7.09202 6.48346C6.73038 6.84509 6.52722 7.33558 6.52722 7.84701C6.52722 8.90817 7.3944 9.76394 8.45556 9.76394ZM10.0416 21.1058V11.5554H6.88094V21.1058H10.0416Z"
							fill="#141A12"></path>
					</svg>
				</a>
			</svg>

			<svg
				xmlns="http://www.w3.org/2000/svg"
				x="350"
				y="315"
				width="25%"
				height="25%"
				viewBox="0 0 56 56"
				fill="none"
				><a href="https://github.com/Siriusg2">
					<circle cx="27.9934" cy="27.9934" r="27.9934" fill="#F9F4DA"></circle>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						x="12"
						y="12"
						width="33"
						height="33"
						viewBox="0 0 33 33"
						fill="none"
					>
						<path
							d="M16.5 2.75C14.6943 2.75 12.9063 3.10565 11.2381 3.79666C9.56987 4.48766 8.05409 5.50048 6.77728 6.77728C4.19866 9.35591 2.75 12.8533 2.75 16.5C2.75 22.5775 6.69625 27.7337 12.155 29.5625C12.8425 29.6725 13.0625 29.2463 13.0625 28.875V26.5512C9.25375 27.3762 8.4425 24.7087 8.4425 24.7087C7.81 23.1137 6.91625 22.6875 6.91625 22.6875C5.665 21.835 7.0125 21.8625 7.0125 21.8625C8.3875 21.9587 9.11625 23.2788 9.11625 23.2788C10.3125 25.3687 12.3337 24.75 13.1175 24.42C13.2412 23.5263 13.5987 22.9212 13.9837 22.5775C10.9312 22.2337 7.7275 21.0513 7.7275 15.8125C7.7275 14.2863 8.25 13.0625 9.14375 12.0863C9.00625 11.7425 8.525 10.3125 9.28125 8.45625C9.28125 8.45625 10.4362 8.085 13.0625 9.85875C14.1487 9.55625 15.3312 9.405 16.5 9.405C17.6687 9.405 18.8512 9.55625 19.9375 9.85875C22.5637 8.085 23.7187 8.45625 23.7187 8.45625C24.475 10.3125 23.9937 11.7425 23.8562 12.0863C24.75 13.0625 25.2725 14.2863 25.2725 15.8125C25.2725 21.065 22.055 22.22 18.9887 22.5637C19.4837 22.99 19.9375 23.8288 19.9375 25.1075V28.875C19.9375 29.2463 20.1575 29.6863 20.8587 29.5625C26.3175 27.72 30.25 22.5775 30.25 16.5C30.25 14.6943 29.8943 12.9063 29.2033 11.2381C28.5123 9.56988 27.4995 8.05409 26.2227 6.77728C24.9459 5.50048 23.4301 4.48766 21.7619 3.79666C20.0937 3.10565 18.3057 2.75 16.5 2.75Z"
							fill="#141A12"></path>
					</svg></a
				>
			</svg>

			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="25%"
				height="25%"
				viewBox="0 0 56 56"
				fill="none"
			>
				<a href="https://twitter.com/gibsonavilan">
					<circle cx="27.9934" cy="27.9934" r="27.9934" fill="#F9F4DA"></circle>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						x="13"
						y="13"
						width="28"
						height="28"
						viewBox="0 0 28 28"
						fill="none"
					>
						<path
							d="M22.2849 3.41979C22.8901 3.41979 23.4706 3.66022 23.8986 4.08819C24.3265 4.51617 24.567 5.09662 24.567 5.70186V21.6763C24.567 22.2816 24.3265 22.862 23.8986 23.29C23.4706 23.718 22.8901 23.9584 22.2849 23.9584H6.31042C5.70518 23.9584 5.12472 23.718 4.69675 23.29C4.26878 22.862 4.02835 22.2816 4.02835 21.6763V5.70186C4.02835 5.09662 4.26878 4.51617 4.69675 4.08819C5.12472 3.66022 5.70518 3.41979 6.31042 3.41979H22.2849ZM21.7144 21.1058V15.0583C21.7144 14.0718 21.3225 13.1257 20.6249 12.4281C19.9273 11.7305 18.9812 11.3386 17.9946 11.3386C17.0247 11.3386 15.8951 11.9319 15.3474 12.8219V11.5554H12.1639V21.1058H15.3474V15.4805C15.3474 14.6019 16.0549 13.8831 16.9335 13.8831C17.3571 13.8831 17.7634 14.0514 18.063 14.351C18.3626 14.6505 18.5309 15.0569 18.5309 15.4805V21.1058H21.7144ZM8.45556 9.76394C8.96397 9.76394 9.45155 9.56198 9.81104 9.20249C10.1705 8.84299 10.3725 8.35541 10.3725 7.84701C10.3725 6.78584 9.51673 5.91866 8.45556 5.91866C7.94413 5.91866 7.45365 6.12182 7.09202 6.48346C6.73038 6.84509 6.52722 7.33558 6.52722 7.84701C6.52722 8.90817 7.3944 9.76394 8.45556 9.76394ZM10.0416 21.1058V11.5554H6.88094V21.1058H10.0416Z"
							fill="#141A12"></path>
					</svg></a
				>
			</svg>
		</div>
	</div>

	<div class="flex flex-row">
		<div
			class="flex flex-row items-center xs:inline-flex sm:inline-flex md:inline-flex lg:inline-flex xl:hidden 1xl:hidden 2xl:hidden"
		>
			<span
				class="mb-5 ml-2
        mt-2
        text-sm text-primary-400 "
				>and more
			</span>
			<svg
				class="mb-4"
				xmlns="http://www.w3.org/2000/svg"
				width="50%"
				height="7%"
				viewBox="0 0 278 3"
				fill="none"
			>
				<path
					d="M276 3C276.828 3 277.5 2.32843 277.5 1.5C277.5 0.671573 276.828 0 276 0V3ZM0 3H276V0H0V3Z"
					fill="#F9F4DA"></path>
			</svg>
			<span class="mt-3.5 h-[1.6875rem] w-[.1875rem] bg-primary-350">&nbsp;</span>
		</div>
	</div>
</div>
