<div class="flex flex-col">
	<div class="flex flex-col">
		<div
			class="flex flex-row items-center justify-center gap-x-20 bg-primary-980 py-10 text-center text-primary-80"
		>
			<div class="flex flex-col items-center justify-center">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="102"
					height="102"
					viewBox="0 0 102 102"
					fill="none"
				>
					<path d="M1.12199 1.12201H100.878V100.879H1.12199V1.12201Z" fill="#BFE6AD"></path>
					<path
						d="M92.714 77.0865C91.9833 72.5356 89.0157 68.7129 80.2254 65.1485C77.1718 63.7452 73.7675 62.7404 72.7531 60.4262C72.3929 59.0795 72.3451 58.3209 72.573 57.5057C73.2272 54.8601 76.3853 54.0353 78.8882 54.7939C80.5003 55.3342 82.0263 56.5765 82.9467 58.5584C87.2514 55.7709 87.2427 55.7892 90.2485 53.8735C89.148 52.1674 88.5607 51.3801 87.8403 50.6502C85.2513 47.7583 81.7235 46.269 76.0816 46.3829L73.1428 46.763C70.3266 47.4746 67.6427 48.9528 66.0689 50.9347C61.3466 56.2929 62.6934 65.6705 68.4396 69.5297C74.1006 73.7787 82.4168 74.7453 83.479 78.7185C84.5126 83.5826 79.9043 85.1573 75.3238 84.5979C71.9483 83.8958 70.0708 82.1801 68.0412 79.0604C64.3054 81.2223 64.3054 81.2223 60.4645 83.4312C61.3753 85.4226 62.3324 86.3239 63.8592 88.0491C71.0852 95.3788 89.1679 95.0186 92.4112 83.9245C92.5427 83.5436 93.4161 81.0032 92.714 77.0865ZM55.3525 46.9702H46.0219L45.9837 71.0932C45.9837 76.2235 46.249 80.9266 45.4147 82.3682C44.0497 85.2035 40.5123 84.8521 38.9003 84.3022C37.2595 83.4958 36.4252 82.3491 35.4586 80.7282C35.1932 80.2629 34.994 79.9027 34.927 79.8748L27.3408 84.5206C28.6022 87.1096 30.4606 89.3568 32.8408 90.8167C36.3965 92.9507 41.1753 93.6049 46.1733 92.4574C49.4262 91.5099 52.2328 89.5472 53.7022 86.5598C55.8267 82.6431 55.3709 77.9025 55.3517 72.6591C55.3996 64.1046 55.3525 55.5518 55.3525 46.9702Z"
						fill="#262626"></path>
				</svg>
				<span>Javascript</span>
			</div>
			<div class="flex flex-col">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="83"
					height="83"
					viewBox="0 0 83 83"
					fill="none"
				>
					<g clip-path="url(#clip0_60_176)">
						<g opacity="0.7">
							<mask
								id="mask0_60_176"
								style="mask-type:luminance"
								maskUnits="userSpaceOnUse"
								x="0"
								y="0"
								width="83"
								height="83"
							>
								<path d="M0 0H83V83H0V0Z" fill="white"></path>
							</mask>
							<g mask="url(#mask0_60_176)">
								<path
									d="M41.2026 0C20.1275 0 21.4417 9.18533 21.4417 9.18533L21.4659 18.7027H41.5726V21.5592H13.4875C13.4875 21.5592 0 20.0203 0 41.3928C0 62.7653 11.7687 62.0045 11.7687 62.0045H18.7891V52.0894C18.7891 52.0894 18.4122 40.2619 30.3745 40.2619H50.3153C50.3153 40.2619 61.5203 40.4417 61.5203 29.3751V11.0736C61.5203 11.0736 63.2218 0 41.2026 0ZM30.1152 6.39792C32.1141 6.39792 33.7326 8.02333 33.7326 10.0361C33.7326 12.0454 32.1141 13.6708 30.1152 13.6708C28.1128 13.6708 26.4977 12.0454 26.4977 10.0361C26.4977 8.02333 28.1128 6.39792 30.1152 6.39792Z"
									fill="#BFE6AD"></path>
								<path
									d="M41.8009 83C62.869 83 61.5549 73.8147 61.5549 73.8147L61.5307 64.2973H41.4239V61.4408H69.516C69.516 61.4408 83.0035 62.9797 83.0035 41.6072C83.0035 20.2347 71.2313 20.9955 71.2313 20.9955H64.2109V30.9106C64.2109 30.9106 64.5878 42.7381 52.6255 42.7381H32.6882C32.6882 42.7381 21.4832 42.5583 21.4832 53.6249V71.9264C21.4832 71.9264 19.7817 83 41.8009 83ZM52.8883 76.6021C50.8859 76.6021 49.2709 74.9767 49.2709 72.9639C49.2709 70.9546 50.8859 69.3292 52.8883 69.3292C54.8872 69.3292 56.5057 70.9546 56.5057 72.9639C56.5057 74.9767 54.8872 76.6021 52.8883 76.6021Z"
									fill="#BFE6AD"></path>
							</g>
						</g>
					</g>
					<defs>
						<clipPath id="clip0_60_176">
							<rect width="83" height="83" fill="white"></rect>
						</clipPath>
					</defs>
				</svg>
				<span>Python</span>
			</div>
			<div class="flex flex-col">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="101"
					height="101"
					viewBox="0 0 101 101"
					fill="none"
				>
					<path
						d="M37.5728 77.4228C37.5728 77.4228 33.8113 79.6117 40.2532 80.3502C48.0586 81.2419 52.0474 81.114 60.6466 79.4886C60.6466 79.4886 62.912 80.9049 66.0698 82.1327C46.7859 90.3942 22.4283 81.6538 37.5728 77.4228ZM35.2151 66.6403C35.2151 66.6403 30.9952 69.7642 37.4426 70.4317C45.7806 71.2926 52.3638 71.3628 63.761 69.1692C63.761 69.1692 65.3336 70.7671 67.8105 71.6398C44.5 78.4573 18.5367 72.1763 35.2151 66.6403Z"
						fill="#BFE6AD"></path>
					<path
						d="M55.0781 48.3467C59.8322 53.8188 53.8314 58.7386 53.8314 58.7386C53.8314 58.7386 65.8954 52.5121 60.3562 44.7114C55.1807 37.4402 51.2133 33.8287 72.6932 21.371C72.6932 21.3718 38.9757 29.7903 55.0781 48.3467Z"
						fill="#BFE6AD"></path>
					<path
						d="M80.5814 85.3994C80.5814 85.3994 83.366 87.6956 77.5136 89.4702C66.3862 92.8411 31.1908 93.8574 21.4159 89.6051C17.9038 88.0759 24.4925 85.9557 26.5654 85.5083C28.7266 85.0404 29.9607 85.1256 29.9607 85.1256C26.0525 82.3742 4.70044 90.5307 19.1166 92.8703C58.4285 99.2428 90.7769 90.0005 80.5814 85.3994ZM39.3837 55.4664C39.3837 55.4664 21.483 59.7186 33.0451 61.2644C37.9279 61.9177 47.657 61.7678 56.7257 61.0072C64.135 60.3846 71.5703 59.055 71.5703 59.055C71.5703 59.055 68.9601 60.1747 67.0695 61.464C48.8879 66.2465 13.7731 64.019 23.8833 59.13C32.4305 54.9961 39.3837 55.4664 39.3837 55.4664ZM71.4962 73.4152C89.9768 63.8146 81.4312 54.5881 75.4667 55.8309C74.0085 56.1347 73.3544 56.399 73.3544 56.399C73.3544 56.399 73.8973 55.5476 74.9325 55.1815C86.7314 51.035 95.804 67.4143 71.1269 73.902C71.1269 73.9004 71.4102 73.644 71.4962 73.4152Z"
						fill="#BFE6AD"></path>
					<path
						d="M60.3562 1.25226C60.3562 1.25226 70.5887 11.4911 50.6483 27.2306C34.6572 39.8603 47.0021 47.0597 50.6428 55.2888C41.3074 46.8672 34.4599 39.4524 39.0531 32.552C45.798 22.4252 64.4838 17.5133 60.3562 1.25226Z"
						fill="#BFE6AD"></path>
					<path
						d="M41.2001 99.4385C58.9351 100.572 86.1767 98.8072 86.8213 90.4147C86.8213 90.4147 85.5817 93.5962 72.1629 96.1204C57.024 98.9705 38.3484 98.6383 27.2755 96.8101C27.2755 96.8109 29.5441 98.6888 41.2001 99.4385Z"
						fill="#BFE6AD"></path>
				</svg>
				<span>Java</span>
			</div>
		</div>

		<div
			class="flex w-screen flex-row items-center justify-between self-center bg-primary-980 px-3 font-bold uppercase text-primary-350"
		>
			<h1>programming</h1>
			<h1>1</h1>
		</div>
	</div>
</div>
